<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sha.com.ind.labapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customcomponents.CustomComponentsActivity"
            android:label="@string/custom_components"/>

        <activity android:name=".media.MediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/media"/>

        <activity android:name=".dump.JunkActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/dump"/>

        <!--tab stuff-->
        <activity android:name=".tabs.TabViewPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/view_pager_and_tabs"/>

        <activity android:name=".tabs.bottombar.RoughikeBottomNavigationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bottom_navigation"/>

        <activity android:name=".tabs.bottombar.BottomBarListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bottom_navigation_libs"/>

        <activity android:name=".tabs.bottombar.MaterialBottomBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bottom_navigation_mat"/>


        <activity android:name=".tabs.bottombar.CustomBottomBarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/bottom_navigation_custom"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="sha.com.ind.labapp.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ef832269a52be13e060da66673dd2da1ffd0e5a" />
    </application>

</manifest>
